:root {
    --primary-color: #7b2cbf;
    --primary-light: #9d4edd;
    --secondary-color: #3a0ca3;
    --text-light: #f8f9fa;
    --text-dark: #212529;
    --bg-dark: #10002b;
    --bg-light: #f8f9fa;
    --accent: #ff9e00;
}